/* assets/css/index.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.75;
    color: #333E48;
    background-color: #E1E2E1;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #263B4F;
    color: white;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.hero > * {
    position: relative;
    z-index: 1;
    animation: fadeInUp 1.5s ease-out forwards; /* Animation for hero content */
}

.tagline {
    font-style: italic;
    opacity: 0.9;
    margin-top: 15px;
    font-size: 1.2rem;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin: 40px auto;
    width: 85%;
    max-width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex-wrap: wrap;
    /*
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s; 
    opacity: 0; 
    transform: translateY(30px); 
    visibility: hidden; 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
    */
    
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Make section fully visible when it becomes visible */
    transition-delay: 0s; /* Reset transition delay to show elements immediately when they become visible */
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

/* Adjusting the animation delay for each section to create a cascading effect */
.section:nth-child(odd) {
    animation-delay: 0.75s;
}

.section:nth-child(even) {
    background-color: #F5F5F5;
    animation-delay: 1s;
}

.section > * {
    flex-basis: calc(50% - 40px);
    margin: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .section {
        flex-direction: column;
        padding: 20px;
    }

    .section > * {
        flex-basis: auto;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .hero {
        padding: 50px 20px;
    }
}

.section h2 {
    color: #263B4F;
    font-size: 28px;
    margin-bottom: 20px;
}

.section p {
    font-size: 16px;
    color: #4F5D75;
}
