/* assets/css/methods.css */

.methods-section {
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 80%;
    color: #333;
    text-align: center;
}

.text-content, .image-content {
    width: 100%;
    padding: 20px;
    text-align: left;
}
.text-content h2, .text-content h3 {
    text-align: center;
}

.image-content img {
    display: block;
    max-width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.double-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.architecture-image {
    max-width: 45%;
    height: auto;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .architecture-image {
        max-width: 90%;
    }
}

.methods-section + .methods-section {
    margin-top: 80px;
}

.text-and-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
}

.text-content {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.caption {
    font-size: 0.9em;
    color: #333;
    text-align: center;
    margin-top: 8px;
}

.model-image {
    max-width: 25%;
    height: auto;
    margin: 0 auto;
    display: block;
}


@media (max-width: 768px) {
    .text-content, .image-content {
        
        background-color: transparent;
        box-shadow: none;
    }

    .methods-section {
        padding: 15px;
    }

    .model-image {
        max-width: 90%;
    }
}
