/* assets/css/navbar.css */

nav {
    background-color: #263B4F; 
    color: white;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px; 
    transition: color 0.3s ease;
}

nav a:hover {
    color: #E1E2E1;
    background-color: transparent;
    border-radius: 4px;
}

nav div {
    display: inline-block;
}

nav::after {
    content: "";
    display: table;
    clear: both;
}
