<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/index.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/navbar.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/methods.css' | relative_url }}">
</head>

<body>
    <header>
        <nav>
            <div style="float: left;">
                <a href="{{ '/' | relative_url }}">Children Emotion Recognition</a>
            </div>
            <!-- <div style="float: right;">
                <a href="{{ '/methods' | relative_url }}">Methods</a>
                <a href="{{ '/results' | relative_url }}">Results</a>
            </div> -->

            <div style="float: right;">
                <a href="{{ '/methods' | relative_url }}">Methods</a>
                <a href="{{ '/results' | relative_url }}">Results</a>
                <!-- GitHub Repo Link -->
                <a href="https://github.com/amallesw/DSC180B-Q2-Codebase" target="_blank" title="GitHub Repository">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            
            <div style="clear: both;"></div>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>

</html>
